services:
  - type: web
    name: django-inventory
    env: python
    plan: free

    buildCommand: |
      pip install -r requirements.txt
      python manage.py migrate
      python manage.py collectstatic --noinput

    # Updated to gunicorn for production stability
    startCommand: gunicorn inventory_project.wsgi:application

    envVars:
      - key: PYTHON_VERSION
        value: 3.11.8

      - key: DJANGO_SECRET_KEY
        generateValue: true

      - key: DJANGO_SETTINGS_MODULE
        value: inventory_project.settings